annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
click==8.3.2
colorama==0.4.6
crispy-bootstrap5==2026.3
Django==6.0.2
django-cleanup==9.0.0
django-cors-headers==4.9.0
django-crispy-forms==2.5
django-environ==0.13.0
django-filter==25.2
djangorestframework==3.16.1
fastapi==0.135.3
h11==0.16.0
idna==3.11
pillow==12.1.0
pydantic==2.12.5
pydantic_core==2.41.5
sqlparse==0.5.5
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uvicorn==0.44.0
