{% extends 'master/base.html' %}

{% block content %}
  
  <h1>Profile Info</h1>
  <p>Name:{{request.user.display_name}}</p>
  <p>Email:{{request.user.email}}</p>
  <p>User Type:{{request.user.user_type}}</p>
  {% if request.user.user_type == 'Recruiters' %}
  <p>Company Name:{{request.user.recruiter_profile.company_name}}</p>
  {% else %}
  <p>skill set:{{request.user.seeker_profile.skill_set}}</p>
  {% endif %}

  <a href="{% url 'update_profile' %}" class="btn btn-primary">Update Profile</a>
{% endblock %}
